<!DOCTYPE html>
<html lang="en" class="no-js">

  <%- include('header'); -%>
  
<body class=" "> 
 
  <%- include('navAm'); -%>
  <!-- </header> -->
  <main class="l-main " id="main-content" tabindex="-1" role="main">
    <div class="l-home-hero js-header-carousel" data-carousel-autoplay="true" tabindex="0"
      data-flickity='{ "cellAlign": "left", "autoPlay": true }'>




      <% 
                    
      for (item of sliders) { %>

        <div class="l-home-hero__cell js-header-carousel-cell">
          <div class="l-home-hero__media">
            <img alt="" srcset="http://localhost:9000/<%= item.bannerImage %>" sizes="(min-width: 980px) 100vw,
            100vw">
          </div>
          <div class="l-home-hero__content">
            <div class="l-home-hero__content-intro">
              <h2 class="u-type-h1 u-type-shadowed heading--l "> <%= item.titleAm %></h2>
  
            </div>
            <div class="l-home-hero__content-cta"> <a href="newsdtl.html" class="btn btn--arrow">
              ተጨማሪ ያንብቡ</a>
            </div>
          </div>
        </div>
        <!-- <%= item.size %> -->

        <% } %>


      <!-- <div class="l-home-hero__cell js-header-carousel-cell">
        <div class="l-home-hero__media">
          <img alt="" srcset="img/banner/1.jpg" sizes="(min-width: 980px) 100vw,
          100vw">
        </div>
        <div class="l-home-hero__content">
          <div class="l-home-hero__content-intro">
            <h2 class="u-type-h1 u-type-shadowed heading--l "> The opening of the Telecommunications Market</h2>

          </div>
          <div class="l-home-hero__content-cta"> <a href="newsdtl.html" class="btn btn--arrow">Read More</a>
          </div>
        </div>
      </div>


      <div class="l-home-hero__cell js-header-carousel-cell">
        <div class="l-home-hero__media">
          <img alt="" srcset="img/banner/2.jpg" sizes="(min-width: 980px) 100vw,
          100vw">
        </div>
        <div class="l-home-hero__content">
          <div class="l-home-hero__content-intro">
            <h2 class="u-type-h1 u-type-shadowed heading--l "> Transform the lives of our People </h2>

          </div>
          <div class="l-home-hero__content-cta"> <a href="newsdtl.html" class="btn btn--arrow">Read More</a>
          </div>
        </div>
      </div>


      <div class="l-home-hero__cell js-header-carousel-cell">
        <div class="l-home-hero__media">
          <img alt="" srcset="img/banner/3.jpg" sizes="(min-width: 980px) 100vw,
          100vw">
        </div>
        <div class="l-home-hero__content">
          <div class="l-home-hero__content-intro">
            <h2 class="u-type-h1 u-type-shadowed heading--l"> Attract Innovative and Competitive Players</h2>

          </div>
          <div class="l-home-hero__content-cta"> <a href="newsdtl.html" class="btn btn--arrow">Read More</a>
          </div>
        </div>
      </div> -->




    </div>
    <div class="l-content l-content--w-margin">
      <section class="section section--featuredStatistic">
        <div class="section__inner">

          <div class="l-text-split">
            <div class="l-text-split__intro">
              <h1 class="heading heading--spacing-y heading--l">ስለ ኢሲኤ</h1>
              <h2 class="u-type-h3">የኢትዮጵያ ኮሙዩኒኬሽን ባለስልጣን በኮሙኒኬሽን አገልግሎት አዋጅ ቁጥር 1148/2011 የተቋቋመ ራሱን የቻለ የቁጥጥር ባለስልጣን ሲሆን ከነዚህም መካከል የቴሌኮሙኒኬሽን፣ የፖስታ እና የፖስታ አገልግሎትን የሚያጠቃልለውን የመገናኛ ዘርፍ ለመቆጣጠር አላማ ያለው ሲሆን በኢትዮጵያ ፌዴራላዊ ዲሞክራሲያዊ ሪፐብሊክ ከፍተኛ ጥራት ያለው፣ ቀልጣፋ፣ አስተማማኝ እና በተመጣጣኝ ዋጋ ያለው የመገናኛ አገልግሎት ልማት።</h2>
              <br><br>
              <a href="/about#message" class="btn btn--arrow">ተጨማሪ እወቅ </a>
            </div>
            <!-- <div class="l-text-split__content">
              <div class="featured-stats featured-stats--stacked">
                <div class="featured-stats__body">
                  <div class="featured-stats__feature">
                    <div class="featured-stats__feature-stat">
                      <p>1000</p>
                    </div>
                    <div class="featured-stats__label">
                      <p>stat one
                      </p>
                    </div>
                  </div>
                  <ul class="featured-stats__list">
                    <li>
                      <div class="featured-stats__stat">
                        <p>25</p>
                      </div>
                      <div class="featured-stats__label">
                        <p>stat two</p>
                      </div>
                    </li>
                    <li>
                      <div class="featured-stats__stat">
                        <p>60<sup>+</sup>
                        </p>
                      </div>
                      <div class="featured-stats__label">
                        <p>Years of Experience</p>
                      </div>
                    </li>
                  </ul>
                </div>

              </div>
            </div> -->
          </div>
        </div>
      </section>
    
      <section class="section section--bleed section--contentHero">
        <div class="content-hero content-hero--red ">
          <figure class="content-hero__media ">
            <div class="content-hero__image">
              <img alt="" class="" srcset="img/about/1.jpg" sizes="(min-width: 980px) 100vw,
          100vw" style="max-height:500px;  ">
            </div>
          </figure>
          <div class="content-hero__content">
            <div class="text-stack text-stack--centered text-stack--reversed">
              
              <h1 >
                <h1  style='text-align: left; font-size:4rem;line-height:40px;'> ኢንጅነር ባልቻ ረቤ, <br>  
                  ዋና ዳይሬክተር</h1>
              </h1>
           
              <p style='text-align: left;margin:20px 0; line-height:18px;text-align: justify; '>እንኳን ወደ የኢትዮጵያ ኮሙዩኒኬሽን ባለስልጣን (ኢሲኤ) ድረ-ገጽ እንኳን በደህና መጡ በኮሙዩኒኬሽን አገልግሎት አዋጅ ቁጥር 1148/2019 ወደ ተቋቋመው የመገናኛ አገልግሎት ተቆጣጣሪ ባለስልጣን ኦገስት 12 ቀን 2019 ታትሟል።
              </p>
              <div class="text-stack__cta" style='position:relative'> <a href="/about" style='position:absolute;left:0;top:0;'class="btn btn--arrow btn--reversed">ተጨማሪ እወቅ</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section section--newsListings">
        <div class="section__inner">
          <div class="news-listings">
            <div class="news-listings__eyebrow"> <span class="heading heading--spacing-y heading--l">Latest News</span>
            </div>
            <ul class="news-listings__items">
              <li class="news-listings__item news-listings__item--featured">
                <div class=" news-item news-item--featured" data-component-clickable-card>
                  <div class="news-item__content">
                    <h3 class="news-item__title">
                      <a href="newsdtl.html" aria-describedby="desc-93760">
                        <span>Stakeholders Consultation on Directives-Infrastructure Sharing and Collocation, and
                          Interconnection</span>
                      </a>
                    </h3>
                    <div class="news-item__date">Nov 27, 2020</div>
                  </div>
                  <div class="news-item__media-container">
                    <div class="news-item__media">
                      <img alt="" srcset="img/news/1.jpg" sizes="(min-width: 980px) 50vw,
          100vw">
                    </div>
                    <div class="news-item__cta" aria-hidden="true" id="desc-93760" data-clickable-card-cta> <span
                        class="btn btn--cta-text">Read</span>
                      <span class="btn btn--cta-icon"></span>
                    </div>
                  </div>
                </div>
              </li>
              <li class="news-listings__item">
                <div class=" news-item" data-component-clickable-card>
                  <div class="news-item__content">
                    <h3 class="news-item__title">
                      <a href="newsdtl.html" aria-describedby="desc-93411">
                        <span>Update on Telecom Liberalization Process</span>
                      </a>
                    </h3>
                    <div class="news-item__date">Nov 22, 2020</div>
                  </div>
                  <div class="news-item__media-container">
                    <div class="news-item__media">
                      <img alt="" srcset="img/news/2.jpg" sizes="(min-width: 980px) 50vw,
          100vw">
                    </div>
                    <div class="news-item__cta" aria-hidden="true" id="desc-93411" data-clickable-card-cta> <span
                        class="btn btn--cta-text">Read</span>
                      <span class="btn btn--cta-icon"></span>
                    </div>
                  </div>
                </div>
              </li>


              <li class="news-listings__item">
                <div class=" news-item" data-component-clickable-card>
                  <div class="news-item__content">
                    <h3 class="news-item__title">
                      <a href="newsdtl.html" aria-describedby="desc-93411">
                        <span>Third Round of Consultations</span>
                      </a>
                    </h3>
                    <div class="news-item__date">Oct 11, 2020 </div>
                  </div>
                  <div class="news-item__media-container">
                    <div class="news-item__media">
                      <img alt="" srcset="img/news/3.jpg" sizes="(min-width: 980px) 50vw,
          100vw">
                    </div>
                    <div class="news-item__cta" aria-hidden="true" id="desc-93411" data-clickable-card-cta> <span
                        class="btn btn--cta-text">Read</span>
                      <span class="btn btn--cta-icon"></span>
                    </div>
                  </div>
                </div>
              </li>


              <li class="news-listings__item">
                <div class=" news-item" data-component-clickable-card>
                  <div class="news-item__content">
                    <h3 class="news-item__title">
                      <a href="newsdtl.html" aria-describedby="desc-93411">
                        <span>Stakeholders Consultation on Directives-Lawful Tariffs, Competition, and SIM Card
                          Registration</span>
                      </a>
                    </h3>
                    <div class="news-item__date">Aug 24, 2020</div>
                  </div>
                  <div class="news-item__media-container">
                    <div class="news-item__media">
                      <img alt="" srcset="img/news/4.jpg" sizes="(min-width: 980px) 50vw,
          100vw">
                    </div>
                    <div class="news-item__cta" aria-hidden="true" id="desc-93411" data-clickable-card-cta> <span
                        class="btn btn--cta-text">Read</span>
                      <span class="btn btn--cta-icon"></span>
                    </div>
                  </div>
                </div>
              </li>



              <li class="news-listings__item">
                <div class=" news-item" data-component-clickable-card>
                  <div class="news-item__content">
                    <h3 class="news-item__title">
                      <a href="newsdtl.html" aria-describedby="desc-93411">
                        <span>Stakeholders Consultation on Directives-Infrastructure Sharing and Collocation, and
                          Interconnection</span>
                      </a>
                    </h3>
                    <div class="news-item__date">Aug 23, 2020</div>
                  </div>
                  <div class="news-item__media-container">
                    <div class="news-item__media">
                      <img alt="" srcset="img/news/5.jpg" sizes="(min-width: 980px) 50vw,
          100vw">
                    </div>
                    <div class="news-item__cta" aria-hidden="true" id="desc-93411" data-clickable-card-cta> <span
                        class="btn btn--cta-text">Read</span>
                      <span class="btn btn--cta-icon"></span>
                    </div>
                  </div>
                </div>
              </li>







            </ul>
            <div class="news-listings__cta"> <a href="news.html" class="btn btn--arrow">View All News</a>
            </div>
          </div>
        </div>
      </section>

    
      <section style='height:fit-content; padding-bottom:100px; '>
        <span class="heading heading--spacing-y heading--l">Tender</span>

        <div class="tender">

          <div class="single-tender">
            <img alt="" srcset="img/news/1.jpg" class="tender-img">
            <div class="tender-detail">
              <div class="tender-left">
                <span class="news-item__date">Bids opning date12/01/2021</span>
                <span class="news-item__date">Bids closing date12/01/2021</span>


                <div style='width:130px; height:50px ;display:flex;'>
                  <span class="news-item__date" style="margin-right: 50px; font-size: 22px; color:green;">Open</span>
                  <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="folder-open"
                    class="svg-inline--fa fa-folder-open fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 576 512">
                    <path fill="currentColor"
                      d="M527.9 224H480v-48c0-26.5-21.5-48-48-48H272l-64-64H48C21.5 64 0 85.5 0 112v288c0 26.5 21.5 48 48 48h400c16.5 0 31.9-8.5 40.7-22.6l79.9-128c20-31.9-3-73.4-40.7-73.4zM48 118c0-3.3 2.7-6 6-6h134.1l64 64H426c3.3 0 6 2.7 6 6v42H152c-16.8 0-32.4 8.8-41.1 23.2L48 351.4zm400 282H72l77.2-128H528z"
                      style='fill:green;'></path>
                  </svg>

                </div>
                <div class="news-item__cta" aria-hidden="true" id="desc-93411" data-clickable-card-cta="" style="right:25px!important;bottom:10px;"> <span class="btn btn--cta-text">Read</span>
               <a href="tender.html"><span class="btn btn--cta-icon"></span></a>   
                </div>
              </div>
              <div class="tender-tags">
                <a href='' class='related'>
                  
                  <span class="">Technology</span>

                </a>
                <a href='' class='related'>
                  
                  <span class="">It</span>

                </a>
                <a href='' class='related'>
                  
                  <span class="">Communications</span>

                </a>

              </div>
              <a href="tender.html">
                  <div class="news-item__cta" aria-hidden="true" id="desc-93411" data-clickable-card-cta=""> <span class="btn btn--cta-text">Read</span>
                <span class="btn btn--cta-icon"></span>
              </div>
              </a>
            
            </div>

          </div>
          <div class="single-tender">
            <img alt="" srcset="img/news/1.jpg" class="tender-img">
            <div class="tender-detail">
              <div class="tender-left">
                <span class="news-item__date">Bids opning date12/01/2021</span>
                <span class="news-item__date">Bids closing date12/01/2021</span>


                <div style='width:130px; height:50px ;display:flex;'>
                  <span class="news-item__date" style="margin-right: 35px; font-size: 22px; color:red;">Closed</span>
                  <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="folder" class="svg-inline--fa fa-folder fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M464 128H272l-64-64H48C21.49 64 0 85.49 0 112v288c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V176c0-26.51-21.49-48-48-48z"style='fill:red'></path></svg>

                </div>
                <a href="tender.html"> <div class="news-item__cta" aria-hidden="true" id="desc-93411" data-clickable-card-cta="" style="right:25px!important;bottom:10px;"> <span class="btn btn--cta-text">Read</span>
                  <span class="btn btn--cta-icon"></span>
                </div></a>
               
              </div>
              <div class="tender-tags">
                <a href='' class='related'>
                  
                  <span class="">Technology</span>

                </a>
                <a href='' class='related'>
                  
                  <span class="">It</span>

                </a>
                <a href='' class='related'>
                  
                  <span class="">Communications</span>

                </a>

              </div>

            </div>

          </div> <div class="single-tender">
            <img alt="" srcset="img/news/1.jpg" class="tender-img">
            <div class="tender-detail">
              <div class="tender-left">
                <span class="news-item__date">Bids opning date12/01/2021</span>
                <span class="news-item__date">Bids closing date12/01/2021</span>


                <div style='width:130px; height:50px ;display:flex;'>
                  <span class="news-item__date" style="margin-right: 50px; font-size: 22px; color:green;">Open</span>
                  <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="folder-open"
                    class="svg-inline--fa fa-folder-open fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 576 512">
                    <path fill="currentColor"
                      d="M527.9 224H480v-48c0-26.5-21.5-48-48-48H272l-64-64H48C21.5 64 0 85.5 0 112v288c0 26.5 21.5 48 48 48h400c16.5 0 31.9-8.5 40.7-22.6l79.9-128c20-31.9-3-73.4-40.7-73.4zM48 118c0-3.3 2.7-6 6-6h134.1l64 64H426c3.3 0 6 2.7 6 6v42H152c-16.8 0-32.4 8.8-41.1 23.2L48 351.4zm400 282H72l77.2-128H528z"
                      style='fill:green;'></path>
                  </svg>

                </div>
                <a href="tender.html">
<div class="news-item__cta" aria-hidden="true" id="desc-93411" data-clickable-card-cta="tender.html" style="right:25px!important;bottom:10px;"> <span class="btn btn--cta-text">Read</span>
                  <span class="btn btn--cta-icon"></span>
                </div>

                </a>
                
              </div>
              <div class="tender-tags">
                <a href='' class='related'>
                  
                  <span class="">Technology</span>

                </a>
                <a href='' class='related'>
                  
                  <span class="">It</span>

                </a>
                <a href='' class='related'>
                  
                  <span class="">Communications</span>

                </a>

              </div>

            </div>

          </div> <div class="single-tender">
            <img alt="" srcset="img/news/1.jpg" class="tender-img">
            <div class="tender-detail">
              <div class="tender-left">
                <span class="news-item__date">Bids opning date12/01/2021</span>
                <span class="news-item__date">Bids closing date12/01/2021</span>


                <div style='width:130px; height:50px ;display:flex;'>
                  <span class="news-item__date" style="margin-right: 35px; font-size: 22px; color:red;">Closed</span>
                  <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="folder" class="svg-inline--fa fa-folder fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M464 128H272l-64-64H48C21.49 64 0 85.49 0 112v288c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V176c0-26.51-21.49-48-48-48z" style='fill:red'></path></svg>

                </div>
                <a href="tender.html">
                   <div class="news-item__cta" aria-hidden="true" id="desc-93411" data-clickable-card-cta="" style="right:25px!important;bottom:10px;"> <span class="btn btn--cta-text">Read</span>
                  <span class="btn btn--cta-icon"></span>
                </div>
                </a>
               
              </div>
              <div class="tender-tags">
                <a href='' class='related'>
                  
                  <span class="">Technology</span>

                </a>
                <a href='' class='related'>
                  
                  <span class="">It</span>

                </a>
                <a href='' class='related'>
                  
                  <span class="">Communications</span>

                </a>

              </div>

            </div>

          </div>
        </div>
      </section>


      

    </div>
    <%- include('footerAm'); -%>
  </main>

  </div>
 
  <script src="dist/scripts/app-0b1e4679f438944fb96c.js"></script>

</body>

</html>