<!DOCTYPE html>
<html lang="en" class="no-js">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <%- include('header'); -%>

   

<body class=" ">
  <%- include('nav'); -%>
    <main class="l-main" id="main-content" tabindex="-1" role="main">
      <section class="l-content-w-sidebar ">
        <div class="l-content-w-sidebar__sidebar l-content-w-sidebar__sidebar--w-nav">
          <nav class="sidebar-nav">
            <div class="sidebar-nav__nav-items"> <a href=" " class="is-active">Publications</a>
              <div class="sidebar-nav__tertiary"></div>
              <div class="sidebar-nav__tertiary"> 
                <a href="#policy">Policy</a>
                <a href="#laws">Laws</a>       
                <!-- <div class="sidebar-nav__tertiary">  -->
                  <a href="#regulations">Regulations</a>
                  <a href="#directives">Directives</a>  
                  <!-- <div class="sidebar-nav__tertiary">  -->
                    <a href="#frameworks">Frameworks </a>
                    <a href="#guide-lines">Guidelines</a>  
                    <!-- <div class="sidebar-nav__tertiary">  -->
                      <a href="#standards">Standards</a>
                      <a href="#public-consulations">Public Consultations</a>           
                    <!-- </div>           -->
                  <!-- </div>  -->

                <!-- </div>      -->
              </div> 
            </div>

         
          </nav>
          <aside class="l-extra-sidebar-content"></aside>
        </div>
        <section class="l-content-w-sidebar__content " id='policy'>
          <section class="l-content-w-sidebar__inner-content">
            <div class="l-content l-content--integrated-real-estate">
              <!-- <h1 class="heading heading--l">REPORTS</h1> -->

              <section class="l-content-w-sidebar__inner-content" >
                <div class="l-content l-content--about-diversity-and-inclusion">
                  <h1 class="heading heading--l">Policy</h1>
            
                  <div class="l-content-grid l-content-grid--10-0 l-content-grid--introduction">
                    <div class="l-content-grid__col">
                      <p class="intro intro--m intro--strong">Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.</p>
                    </div>
                  </div> 
    
    
                  <div class="l-content-grid l-content-grid--10-0 ">
                    <div class="l-content-grid__col">
                      <article class="text">
                      <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    
    </p>
    </article>
                    </div>
                  </div> 
                  
                  
                
                  
              </section>
              <div class="l-content l-content--about-innovation" id='laws'>

                <h1 class="heading heading--l">Laws</h1>
    
                <div class="l-content-grid l-content-grid--10-0 l-content-grid--introduction">
                  <div class="l-content-grid__col">
                    <p class="intro intro--m intro--strong">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                      eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                      exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                      reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                  </div>
                </div>
    
                <section class="l-content-grid l-content-grid--10-0 l-content-grid--text">
                  <div class="l-content-grid__col">
                    <article class="text">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                        culpa qui officia deserunt mollit anim id est laborum.
                      </p>
                    </article>
                  </div>
                </section>
    
                <div class="hr"></div>
    
                <section class="l-content-grid l-content-grid--10-0 l-content-grid--text">
                  <div class="l-content-grid__col">
                    <article class="text">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                        culpa qui officia deserunt mollit anim id est laborum.
                      </p>
                    </article>
                  </div>
                </section>
    
    
    
    
              </div> <div class="l-content l-content--about-innovation" id='regulations'>

                <h1 class="heading heading--l">Regulations</h1>
    
                <div class="l-content-grid l-content-grid--10-0 l-content-grid--introduction">
                  <div class="l-content-grid__col">
                    <p class="intro intro--m intro--strong">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                      eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                      exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                      reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                  </div>
                </div>
    
                <section class="l-content-grid l-content-grid--10-0 l-content-grid--text">
                  <div class="l-content-grid__col">
                    <article class="text">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                        culpa qui officia deserunt mollit anim id est laborum.
                      </p>
                    </article>
                  </div>
                </section>
    
                <div class="hr"></div>
    
                <section class="l-content-grid l-content-grid--10-0 l-content-grid--text">
                  <div class="l-content-grid__col">
                    <article class="text">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                        culpa qui officia deserunt mollit anim id est laborum.
                      </p>
                      <div id="directives"></div>
                    </article>
               
                  </div>
                
                </section>
    
    
    
    
              </div> <div class="l-content l-content--about-innovation" >

                <h1 class="heading heading--l">Directives</h1>
    
                <div class="l-content-grid l-content-grid--12-0 l-content-grid--introduction">
                  <div class="l-content-grid__col">
                    <!-- <p class="intro intro--m intro--strong">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                      eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                      exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                      reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p> -->
                  
                  
                  
                  
                    <table class="table table-striped" style="    font-size: 1.6rem;
                    line-height: 1.8;
                    font-family: gothic;
                    page-break-inside: avoid;
                    overflow: hidden;">
                      <thead>
                        <tr>
                      
                          <th scope="col">Document Tile</th>
                          <th scope="col">size</th>
                         
                        </tr>
                      </thead>
                      <tbody>





                        <% 
                        console.log('directives all overe here',directives)
                        for (item of directives) { %>
       


                          <!-- <div class="l-home-hero__cell js-header-carousel-cell">
                            <div class="l-home-hero__media">
                              <img alt="" srcset="<%= item.img %>" sizes="(min-width: 980px) 100vw,
                              100vw">
                            </div>
                            <div class="l-home-hero__content">
                              <div class="l-home-hero__content-intro">
                                <h2 class="u-type-h1 u-type-shadowed heading--l "> The opening of the Telecommunications Market</h2>
                    
                              </div>
                              <div class="l-home-hero__content-cta"> <a href="newsdtl.html" class="btn btn--arrow">Read More</a>
                              </div>
                            </div>
                          </div> -->
                
                          <tr >
  
                            <td> <a href="http://localhost:9000/<%= item.fileName %>" download style="color:black"> <%= item.name %></a> </td>
            
                            <td><%= item.size %> MB</td>
                          </tr>
                        <% } %>
                


                      </tbody>
                    </table>

                  </div>
                </div>
    
                <section class="l-content-grid l-content-grid--10-0 l-content-grid--text">
                  <div class="l-content-grid__col">
                    <article class="text">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                        culpa qui officia deserunt mollit anim id est laborum.
                      </p>
                    </article>
                  </div>
                </section>
    
                <div class="hr"></div>
    
                <section class="l-content-grid l-content-grid--10-0 l-content-grid--text">
                  <div class="l-content-grid__col">
                    <article class="text">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                        culpa qui officia deserunt mollit anim id est laborum.
                      </p>
                    </article>
                  </div>
                </section>
    
    
    
    
              </div> <div class="l-content l-content--about-innovation" id='frameworks'>

                <h1 class="heading heading--l">Frameworks</h1>
    
                <div class="l-content-grid l-content-grid--10-0 l-content-grid--introduction">
                  <div class="l-content-grid__col">
                    <p class="intro intro--m intro--strong">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                      eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                      exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                      reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                  </div>
                </div>
    
                <section class="l-content-grid l-content-grid--10-0 l-content-grid--text">
                  <div class="l-content-grid__col">
                    <article class="text">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                        culpa qui officia deserunt mollit anim id est laborum.
                      </p>
                    </article>
                  </div>
                </section>
    
                <div class="hr"></div>
    
                <section class="l-content-grid l-content-grid--10-0 l-content-grid--text">
                  <div class="l-content-grid__col">
                    <article class="text">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                        culpa qui officia deserunt mollit anim id est laborum.
                      </p>
                    </article>
                  </div>
                </section>
    
    
    
    
              </div> <div class="l-content l-content--about-innovation" id='guide-lines'>

                <h1 class="heading heading--l">Guidelines</h1>
    
                <div class="l-content-grid l-content-grid--10-0 l-content-grid--introduction">
                  <div class="l-content-grid__col">
                    <p class="intro intro--m intro--strong">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                      eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                      exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                      reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                  </div>
                </div>
    
                <section class="l-content-grid l-content-grid--10-0 l-content-grid--text">
                  <div class="l-content-grid__col">
                    <article class="text">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                        culpa qui officia deserunt mollit anim id est laborum.
                      </p>
                    </article>
                  </div>
                </section>
    
                <div class="hr"></div>
    
                <section class="l-content-grid l-content-grid--10-0 l-content-grid--text">
                  <div class="l-content-grid__col">
                    <article class="text">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                        culpa qui officia deserunt mollit anim id est laborum.
                      </p>
                    </article>
                  </div>
                </section>
    
    
    
    
              </div> <div class="l-content l-content--about-innovation" id='standards'>

                <h1 class="heading heading--l">Standards</h1>
    
                <div class="l-content-grid l-content-grid--10-0 l-content-grid--introduction">
                  <div class="l-content-grid__col">
                    <p class="intro intro--m intro--strong">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                      eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                      exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                      reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                  </div>
                </div>
    
                <section class="l-content-grid l-content-grid--10-0 l-content-grid--text">
                  <div class="l-content-grid__col">
                    <article class="text">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                        culpa qui officia deserunt mollit anim id est laborum.
                      </p>
                    </article>
                  </div>
                </section>
    
                <div class="hr"></div>
    
                <section class="l-content-grid l-content-grid--10-0 l-content-grid--text">
                  <div class="l-content-grid__col">
                    <article class="text">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                        culpa qui officia deserunt mollit anim id est laborum.
                      </p>
                    </article>
                  </div>
                </section>
    
    
    
    
              </div>
              <div class="l-content l-content--about-innovation" >

                <h1 class="heading heading--l"id='public-consulations'>Public Consultations</h1>
    
                <div class="l-content-grid l-content-grid--10-0 l-content-grid--introduction">
                  <div class="l-content-grid__col">
                    <p class="intro intro--m intro--strong">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                      eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                      exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                      reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                  </div>
                </div>
    
                <section class="l-content-grid l-content-grid--10-0 l-content-grid--text">
                  <div class="l-content-grid__col">
                    <article class="text">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                        culpa qui officia deserunt mollit anim id est laborum.
                      </p>
                    </article>
                  </div>
                </section>
    
                <div class="hr"></div>
    
                <section class="l-content-grid l-content-grid--10-0 l-content-grid--text">
                  <div class="l-content-grid__col">
                    <article class="text">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                        culpa qui officia deserunt mollit anim id est laborum.
                      </p>
                    </article>
                  </div>
                </section>
    
    
    
    
              </div>
<!--             
              <section class="l-content-grid l-content-grid--4-4-4">
                <div class="l-content-grid__col">
                  <a href="" class="featured-property">
                    <img alt="" class="featured-property__image" srcset="img/consult/1.jpg" sizes="(min-width: 980px) 30vw,
          100vw">
                    <div class="featured-property__content">
                      <h2 class="featured-property__title">Lorem ipsum is placeholder text commonly used </h2>

                      <footer class="featured-property__footer">
                        <p class="btn btn--arrow">READ MORE</p>
                      </footer>
                    </div>
                  </a>
                </div>

                <div class="l-content-grid__col">
                  <a href="" class="featured-property">
                    <img alt="" class="featured-property__image" srcset="img/consult/2.jpg" sizes="(min-width: 980px) 30vw,
          100vw">
                    <div class="featured-property__content">
                      <h2 class="featured-property__title">Lorem ipsum is placeholder text commonly used </h2>

                      <footer class="featured-property__footer">
                        <p class="btn btn--arrow">READ MORE</p>
                      </footer>
                    </div>
                  </a>
                </div>

                <div class="l-content-grid__col">
                  <a href="" class="featured-property">
                    <img alt="" class="featured-property__image" srcset="img/consult/3.jpg" sizes="(min-width: 980px) 30vw,
          100vw">
                    <div class="featured-property__content">
                      <h2 class="featured-property__title">Lorem ipsum is placeholder text commonly used </h2>

                      <footer class="featured-property__footer">
                        <p class="btn btn--arrow">READ MORE</p>
                      </footer>
                    </div>
                  </a>
                </div>
                
                
              </section> -->
            </div>
          </section>
        </section>
      </section>
    </div>
    <%- include('footer'); -%>
  </main>

  </div>
 
  <script src="dist/scripts/app-0b1e4679f438944fb96c.js"></script>

</body>

</html>
    </main>
  </div>
  <script src="dist/scripts/app-0b1e4679f438944fb96c.js"></script>
  <!-- <script type='text/javascript'>
    var lastScrollTop=0;
    navbar=document.getElementById('nav-holder');
    window.addEventListener("scroll",function(){
      var scrollTop=window.pageYOffset || document.getElement.scrollTop;
   if(scrollTop > lastScrollTop){
     navbar.style.top='-110px'
   }
   else{
    navbar.style.top='0'
   }
   lastScrollTop=scrollTop;
    })
  
    </script> -->
</body>

</html>